/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body main {
  flex: 1 0 auto;
}

footer {
  margin-bottom: 0;
}

main {
  flex: 1 0 auto;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

.logo {
  width: 45px;
  height: 45px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.login-form {
  margin-top: 80px;
  margin-bottom: 155px;
}

.m-0 {
  margin: 0px;
}

/* font */
.f-Alegrey {

  font-family: 'Times New Roman', serif;
}

.Pacifico {
  font-family: Pacifico;
}

p {
  margin: 0;
}

strong {
  font-weight: 700;
}

h2 {
  margin-top: 0.373rem;
}

/* Padding and margin */

.pad-20 {
  padding: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.h-64 {
  height: 64px;
}

.img_logo {
  width: 100px;
}